<html>
    <head>
        <title>Doctrine2 Workshop (with Symfony2)</title>
    </head>

    <body>
        <h1><a href="{{ path('homepage') }}">Doctrine Workshop</a></h1>

        {% block content %}{% endblock %}
    </body>
</html>
