{% extends "DoctrineWorkshopBundle::layout.html.twig" %}

{% block content %}
<h1>Create new Vehicle</h1>

<form method="post" action="{{ path('create') }}">
    {{ form_widget(form) }}

    <input type="submit" value="Create" />
</form>
{% endblock %}
