{% extends "DoctrineWorkshopBundle::layout.html.twig" %}

{% block content %}
<h1>Vehicle: {{ vehicle.offer }}</h1>

<p>Price: {{ vehicle.price}} &euro;</p>

<p>Offer is valid until {{ vehicle.until|date('d.m.Y, H:i') }}</p>
{% endblock %}
