{% extends "DoctrineWorkshopBundle::layout.html.twig" %}

{% block content %}
    <h2>Your Actions</h2>
    <ul>
    {% for route in routeNames %}
        <li><a href="{{ path(route) }}">{{ route }}</li>
    {% endfor %}
    </ul>
{% endblock %}
